.NavbarItems {
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    font-weight: 520;
}


.nav-menu {
    display: grid;
    grid-template-columns: repeat(4,auto);
    column-gap: 10px;
    list-style: none;
    text-align: center;
    width: 80vw;
    justify-content: center;
    margin-right: 2rem;
}


.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links-clicked {
    color: white;
    background-color: #1054d4;
    border-radius: 4px;
    text-decoration: none;
    padding: 0.5rem 1rem;
}


.nav-links:hover {
    background-color: #1054d4;
    border-radius: 4px;
    transition: all 0.3s ease-out;   
}


@media screen and (max-width: 960px){
    .NavbarItems {
    font-size: 1.0rem;
	}
	
	.nav-menu {
	column-gap:5px;
	}
}